@font-face {
  font-family: "Emola Royce", serif, sans-serif;
  src: url("EMOLA ROYCE.OTF") format("opentype");
}

@font-face {
  font-family: "Samarata";
  src: url("Samarata.ttf") format("truetype");
}

body {
  
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  text-align: center;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  position: absolute;
  top: 10px;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100%;
}

.logo-left img {
  height: 20px;
  cursor: pointer;
}

.logo-left a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.logo-left a:hover {
  opacity: 0.8;
}

.logo-left a:active {
  opacity: 0.6;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 80px;
  font-size: 15px;
}

nav a {
  text-decoration: none;
  color: #232740;
  font-family: "Emola Royce", serif;
  src: url("EMOLA ROYCE.OTF") format("opentype");
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: #7a7a7a;
}

.logo-center img {
  width: 300px;
}

.logo-center p {
  font-size: 12px;
  letter-spacing: 2px;
  color: #555;
}

footer {
  position: absolute;
  bottom: 40px;
}

.social-media {
  display: flex;
  gap: 20px;
  align-items: center;
}

.social-media .separator {
  width: 2px;
  height: 50px;
  background-color: #232740;
}

.social-media img {
  width: 30px;
  transition: transform 0.3s ease-in-out;
}

.social-media img:hover {
  transform: scale(1.1);
}

.under-construction {
  position: absolute;
  left: 310px;
  bottom: -30px;
  font-family: "Samarata";
  src: url("Samarata.ttf") format("opentype");
  font-size: 30px;
  letter-spacing: 2.5px;
  color: #232740;
  width: 500px;
  /* margin-top: 20px; */
  font-style: bold;
  opacity: 0.8;
}

@media (max-width: 768px) {
  .logo-left img {
    display: none;
  }

  nav ul {
    gap: 20px;
    font-size: 12px;
    padding: 0 20px;
    margin: 0;
  }

  .logo-center img {
    width: 200px;
  }

  header {
    padding: 0 20px;
    width: 100%;
    top: 20px;
  }

  .under-construction

  footer {
    position: relative;
    width: 100%;
    padding: 20px 0;
  }

  .social-media {
    justify-content: center;
    gap: 15px;
  }

  .social-media img {
    width: 25px;
  }

  .social-media .separator {
    height: 40px;
  }
}
/* by dyrga azka & raihan */
